:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #140138;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4fa3ff;
  text-decoration: inherit;
}
a:hover {
  color: #81c2ff;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #140138;
  color: white;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  color: white;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4fa3ff;
  color: #140138;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #347ddb;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: #1e0055;
  color: white;
  border: 1px solid #4fa3ff;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #140138;
  }
}
